html {
	font-family: roboto-st, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 15px;
	background: rgb(34,34,34);
	background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(37,37,37,1) 21%, rgba(98,98,98,1) 65%, rgba(158,158,158,1) 96%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
	overflow-x: hidden;
}
